.btn {
    padding: 0px 25px;
    margin: 0 15px 15px 0;
    border: none;
    outline: none;
    position: relative;
    background: linear-gradient(140deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);
    background: -moz-linear-gradient(140deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);
    background: -webkit-linear-gradient(140deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 100%);
	border-radius: 50px;
	height: 90px;
	width: 200px;
    cursor: pointer;
	line-height: 46px;
	font-size: 28px;
	font-weight: 600;
	font-family: "Comic Sans MS";
	color: #fff;
}

.btn:hover {
	transition: all 0.5s;
    background: linear-gradient(140deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 95%);
    background: -moz-linear-gradient(140deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 95%);
    background: -webkit-linear-gradient(140deg, hsla(239, 100%, 67%, 1) 0%, hsla(187, 100%, 89%, 1) 95%);
}

.text1 {
    color: #c8cefd;
    font-family: "Comic Sans MS";
    font-size: 30px;
}

.title {
    font-size: 75px;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    color: #412c5f;
}

.area {
    resize: none;
    border-radius: 15px;
    height: 35px;
    width: 300px;
    font-size: 20px;
    font-family: "Comic Sans MS";
    outline: none;
    wrap: off;
}

.enter {
    font-size: 36px;
    font-family: "Comic Sans MS";
}