<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/css/style_home.css">
	</head>
    <style>
        body {
          background-image: url('static/img/letters.png');
          background-repeat: no-repeat;
          pos
        }
    </style>
	<body>
    <center>
        <label class="title">SPEED TYPER</label>
        <br>
        <form class="grid" action="/home_words" method="POST">
            <button class="btn">Words</button>
        </form>
        <form class="grid" action="/home_letters" method="POST">
            <button class="btn">Letters</button>
        </form>
    </center>
    </body>
</html>